<div class="sidebar">

  <div class="title">
    <%= ticket[:key] %> <%= ticket[:summary] %>
  </div>
  <div class="description">
    <div class="description-title">
      Description:
    </div>
    <div class="description-body">
      <%= ticket[:description].html_safe %>
    </div>
  </div>
  <div class="comments">
    <%= ticket[:comment] %>
  </div>
  <div class="votes">
    <div class="vote-title">
      Votes:
    </div>
    <% @logged_in_users.each do |user| %>
      <% vote = ticket[:votes].find_by(user_id: user.id) || Vote.new(user_id: user.id, ticket_id: ticket[:id]) %>
      <div class="vote">
        <div class="username">
          <%= user.first_name %>
        </div>
        <div class="vote-value">
          <%= vote.value %>
        </div>
      </div>
    <% end %>
    <% ticket[:votes].where.not(user_id: @logged_in_users.map(&:id)).each do |vote| %>
      <div class="username">
        <% vote.user.first_name %>
      </div>
      <div class="vote-value">
        <% vote.value %>
      </div>
    <% end %>
  </div>
</div>
