<div id="tickets-container">
  <div class="left-box">
    <div class="vote-cards">
      <% ['0', '1', '2', '3', '5', '8', '13', '21', '?'].each do |value| %>
        <%= render 'vote_card', value: value %>
      <% end %>
    </div>
    <div class="tickets">
      <% @tickets.each_with_index do |ticket, i| %>
        <%= link_to ticket_path(ticket[:id]), id: "ticket-#{ticket[:id]}", class:"ticket-row #{'selected' if i == 0}", remote: true do %>
          <div class="key">
            <%= ticket[:key] %>
          </div>
          <div class="summary">
            <%= ticket[:summary] %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="right-box">
    <%= render 'sidebar', ticket: @tickets.first %>
  </div>
</div>
